%h1.title Input Coordinate

= form_tag users_path, :method => :post do

  = label :user, :name, 'Name'
  = text_field :user, :name

  = label :user, :edad, 'Age'
  = text_field :user, :edad

  %p
  = submit_tag 'Save Changes'

%p
= link_to 'Back to location list', users_path
