%h1.title Create new Location of Interest

= form_tag locations_input_path, :method => :post do

  = label :location, :latitude, 'Latitude'
  = text_field :location, :latitude

  = label :location, :longitude, 'Longitude'
  = text_field :location, :longitude

  %p= submit_tag 'Search'
  %p= 'Latitude: '+@locationParam.latitude.to_s + ' Longitude: '+@locationParam.longitude.to_s


  -if !@vec.nil?

    %table#table
      %thead
        %tr
        %th Name
        %th Latitude
        %th Longitude
        %th Description
      %tbody
        - @vec.each do |location|
          %tr
            %td= link_to location.name, location_path(location)
            %td= location.latitude
            %td= location.longitude
            %td= location.description

%p= link_to 'Back to location list', locations_path
