%h1.title Existing Location

= form_tag location_path @location, :method => :put do

  = label :location, :name, 'Name: '+ @location.name

  = label :location, :latitude, 'Latitude: '+ @location.latitude.to_s

  = label :location, :longitude, 'Longitude: '+ @location.longitude.to_s

  = label :location, :description, 'Description: '+ @location.description

%p= link_to 'Back to location list', locations_path